@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

body {
  color: #313a4b;
  font-family: "Roboto";
  background-color: rgb(255, 255, 255);
}

.home-article {
  opacity: 0.9;

  backface-visibility: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
  margin-bottom: 0.6rem;

  border-radius: 8px;

  background-position: left top;

  background-color: #0059ff2c;

  transition: all 0.2s ease;

  header {
    text-align: center;
  }

  h3 {
    margin-top: 0;
    font-family: "Roboto";

    a {
      color: #161620d3;
    }
  }

  section p {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
    background: #9bd2ffb4;
    transform: translateY(-3px);

    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  &:hover a {
    color: #313142;
  }
}
